:root{
    --color-1: hsl(31, 77%, 52%);
    --color-2: hsl(184, 100%, 22%);
    --color-3: hsl(179, 100%, 13%);
}

body{
    height: 100vh;
}

*{
    box-sizing: border-box;
}

h1, p{
    color: white;
    
}
h1{
    font-family: 'Big Shoulders Display';
    font-size: 3rem;
}

p{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}


button{
    margin-top: 5rem;
    width: 175px;
    height: auto;
    border-radius: 3rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    border: 2px solid;
}



.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10rem;
    border-radius: 1rem;
}


.grid-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    border-radius: 100rem;
}

.grid-item{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.item-1{
    background-color: var(--color-1)
}

.item-2{
    background-color: var(--color-2)
}

.item-3{
    background-color: var(--color-3)
}


.item-1 button{
    color: var(--color-1);
    font-weight: 700;

}

.item-2 button{
    color: var(--color-2);
    font-weight: 700;

}

.item-3 button{
    color: var(--color-3);
    font-weight: 700;
}

button:hover{
    color: white;
    background-color: inherit;
    border: 2px solid white;
}

@media screen and (max-width: 375px){
    .wrapper{
        flex-direction: column;
        padding: 2rem 1rem;
        height: auto;
    }

    .grid-cont{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
        border-radius: 1rem;
        /* margin: 3rem 0; */
        height: 100%;

    }

    .grid-item{
        padding: 2rem;
    }
}