
:root{
    --color-1 : hsl(237, 18%, 59%);
    --color-2: hsl(345, 95%, 68%);
    --color-3: hsl(0, 0%, 100%);
    --color-4: hsl(236, 21%, 26%);
    --color-5: hsl(235, 16%, 14%);
    --color-6: hsl(234, 17%, 12%);
    --color-7: hsl(236, 30%, 19%);
    --color-8: hsl(236, 30%, 19%);

}

*{
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    height: 100vh;
    background-color: var(--color-5);
    margin: 0;
}

h1,h3,h4{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    
}

h1{
    color:hsl(0, 0%, 100%);
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

h3{
    color:hsl(345, 95%, 68%);
    font-size: 5rem;
    margin: 0;
}

h4{
    font-size: 1rem;
    letter-spacing: 0.5rem;
    color: var(--color-1);
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;
    position: relative;
    background-image: url(./images/bg-stars.svg);

}


.date-cont{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: 150px auto;
    text-align: center;
    gap: 2rem;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(236, 21%, 26%); */
    /* background-image: linear-gradient(var(--color-4),var(--color-5)) */
    background-image: linear-gradient(var(--color-7) 50%,var(--color-4) 50%);
    border-radius: 15px;
    position: relative;
}

.grid-item:before, .grid-item::after{
    content: " ";
    position: absolute;
    width: 10px;
    height: 20px;
    top:50%;
    transform: translateY(-10px);
    background-color: var(--color-6);

}

.grid-item::before{
    right:0;
    border-radius: 20px 0px 0px 20px;
}

.grid-item::after{
    left:0;
    border-radius: 0px 20px 20px 0;
}


.social-media{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: url(./images/pattern-hills.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}