*{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 500;
}


h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.25rem;
}

input{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
}

.wrapper{
    display: flex;
    height: 100vh;
}

.cont-left{
    background-color: hsl(279, 53%, 17%);
    width: 30%;
}

.cont-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 70%;
    
}

.card-cont{
    display: flex;
    /* position: relative; */
}

.icon{
    width: 90px;
    height: 50px;
}

.front-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 350px;
    left: 350px;
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 500px;
    height: 300px;
    padding: 25px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.info h2{
    margin-top:10px;
    margin-bottom:0;
}

.info h2, .name-date h3{
    color: white;
}

.name-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.back-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 700px;
    left: 450px;
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 500px;
    height: 300px;
    padding: 25px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 15px;
}

.back-card h4{
    color: white;
    position: relative;
    top: 90px;
    left: 375px;
}

.form-box{
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
    padding: 25px;
    width: 500px;
    gap: 20px;
}

.form-box h4{
    margin-top: 10px;

    margin-bottom: 10px;
}

.misc-cont{
    display: flex;
    gap: 20px;
}

.left-misc{
    width: 50%;
}

.inputs{
    display: flex;
    gap: 10px;
}

.submit-btn{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: white;
}