$font-stack: 'Space Mono', monospace;
$font-weight-1: 400;
$font-weight-2: 700;
$background-color: hsl(27, 66%, 92%);
$container-1-color: hsl(10, 79%, 65%);
$container-1-color-hover: hsl(10, 79%, 65%,0.5);
$container-2-color: whitesmoke;

* {
    font-family: $font-stack;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
    padding: 50px;
    gap: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.balance-container, .spending-container{
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex:1;
    flex-wrap: wrap;
    
}

.balance-container{
    background-color: $container-1-color;
    justify-content: space-between;
    align-items: stretch;
}

.balance-money > h3{
    margin-bottom: 0;
    color: white;
}

.balance-money > h2{
    margin-top: .5rem;
    color:white;
}

.spending-container{
    background-color: $container-2-color;
    flex-direction: column;
}

.money-container{
    justify-content: space-between;
    display: flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
}

.balance-info, .change-info{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.balance-info > h3, .change-info > h3{
    margin-bottom: 0;
}

.balance-info > h1, .change-info > h3{
    margin-top: 0;
}

.change-info > h3{
    text-align: right;
}

.bar-data{
    display: flex;
    gap:20px;
    margin-bottom: 0;
    flex: 1;
    align-items: flex-end;
}

.spend-header, .money-container{
    flex-wrap: wrap;
}


// .data-box{
// }

.data-container{
    width: 14.2%;
    text-align: center;
}

.data-container > h3{
    margin-top: 0.5rem;
}

.data:hover{
    background-color: $container-1-color-hover;
}

.data-container:hover .value, .data-container:focus .value{
    visibility: visible !important;
}


.data-container:focus > .data{
    background-color: hsl(186, 34%, 60%);
}


.data{
    width: 100%;
    height: 100px;
    background-color: $container-1-color;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    font-weight: $font-weight-1;
}
  
h2 {
    font-size: 2rem;
}

h3{
    font-size: 1rem;
    font-weight: $font-weight-2
}


img{
    width: auto;
    height:auto;
}


hr {
    border:none;
    width: 100%;
    margin: 2rem 0;
    border-bottom: 1px solid hsl(28, 10%, 53%);
}
