$font-stack: 'Space Mono', monospace;
$background-color: hsl(27, 66%, 92%);
$container-1-color: hsl(10, 79%, 65%);
$container-2-color: whitesmoke;

* {
    font-family: $font-stack;
}


body{
    background-color: $background-color;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 200px 500px;
    padding: 50px;
    gap: 20px;
}

.balance-container, .spending-container, .money-container{
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex:1;
    flex-wrap: wrap;
    
}

.balance-container{
    background-color: $container-1-color;
    justify-content: space-between;
}

.spending-container{
    background-color: $container-2-color;
    flex-direction: column;
}

.money-container{
    justify-content: space-between;
}


.balance-info > * {
    flex: 1;
}


h1 {
    font-size: 2rem;
  }
  
h2 {
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}


img{
    width: auto;
    height:auto;
}


hr {
    border:none;
    width: 100%;
    margin-top: 0;
    border-bottom: 1px solid hsl(28, 10%, 53%);
}