:root{

    /* Primary */
    --color-1 : hsl(7, 99%, 70%);
    --color-2: hsl(51, 84%, 51%);
    --color-3:  hsl(167, 40%, 24%);
    --color-4: hsl(198, 62%, 26%);
    --color-5: hsl(168, 34%, 41%);
    /* Neutral */
    --color-6 : hsl(212, 27%, 19%);
    --color-7: hsl(213, 9%, 39%);
    --color-8:  hsl(232, 10%, 55%);
    --color-7: hsl(210, 4%, 67%);
    --color-9: hsl(0, 0%, 100%);

    
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Fraunces', sans-serif; */
}

* {
    box-sizing: border-box;
}

body{
    height: auto;
    max-width: 1440px;
    margin: 0;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
}   

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: .75rem;
}

a, h1, button{
    text-decoration: none;
    color: var(--color-9);
    font-family: 'Fraunces', sans-serif;
    /* font-family: 'Barlow', sans-serif; */
}

h2,h3,h4,h5{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    /* font-family: 'Barlow', sans-serif; */
}


p{
    /* font-family: 'Fraunces', sans-serif; */
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
}


a, button{
    font-size: 15px;
}

.main-top-cont{
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-top-cont h1{
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    width: 100%;
    position: relative;
}

.hamburger-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    height: 2rem;
    width: 2rem;
    gap: .5rem;
}

.bar{
    border: 2px solid white;
    border-radius: 10px;
}

.links-cont{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.contact-btn{
    padding: 1rem 2rem;
    background-color: var(--color-9);
    color: var(--color-6);
    border-radius: 25px;
    border: none;
}

.contact-btn:hover{
    color: var(--color-9);
    background-color: rgba(255,255,255, 0.3);
}

.cont-2{
    display: flex;
    width: 100%;
    margin: 0;
}

.cont-2 *{
    width: 100%;
}

.cont-2 img{
    width: 100%;
    height: 100%;
}

.text-cont{
    display: flex;
    flex-direction: column;
    /* padding: 9rem; */
    justify-content: center;
    gap: .5rem;
}

.text-cont h2 {
    color: var(--color-6);
    padding: 0rem 6rem;
}


.text-cont h3 {
    color: var(--color-6);
    font-size: 1rem;
    padding: 0rem 6rem;

}


.text-cont p{
    color: var(--color-8);
    padding: 0rem 6rem;

}

.text-cont .underline-1, .text-cont .underline-2{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.2rem;
}
.text-cont .underline-1, .text-cont .underline-2{
    text-decoration-color: var(--color-2);
}

.text-cont .underline-2{
    text-decoration-color: var(--color-1);
}

.img-cont-graph, .img-cont-photo{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.img-cont-graph *{
    color:hsl(168, 34%, 41%);
    text-align: center;
    position: relative;
    top: 60%;
}

.img-cont-photo *{
    color: hsl(168, 34%, 41%);
    text-align: center;
    position: relative;
    top: 60%;
}

.img-cont-graph h3, .img-cont-photo h3{
    font-size: 1.5rem;
}

.img-cont-graph p, .img-cont-photo p{
    padding: 0rem 9rem;
}

.img-cont-graph{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    
}

.img-cont-photo{
    background-image: url(./images/desktop/image-photography.jpg);
    
}

.testimonials-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    gap: 2rem;
}

.testimonials-cont h3{
    font-size: 1rem;
    color: hsl(232, 10%, 55%);
    letter-spacing: .5rem;
}

.client-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}



.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.grid-item p {
    text-align: center;
}

.user-img{
    /* height: 50%;
    width: 50%; */
}

.user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* .user-info */

.user-info *{
    margin: .3rem;
    text-align: center;
}

.user-info h4{
    color: hsl(213, 9%, 39%);
}

.user-info h5{
    color: hsl(210, 4%, 67%);
}

.pic-cont{
    height: auto;
    display: flex;
    width: 100%;
}

.pic-cont * {
    width: 100%;
}

.pic-cont-item img{
    height: 100%;
}


.footer-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(168, 34%, 41%);
    height: auto;
    gap: 3rem;
    padding: 3rem;
    margin: 0;
}   

.about-links{
    display: flex;
    gap:2rem;
}

.footer-cont h2{
    color:hsl(167, 40%, 24%);
}

.about-links a{
    color: hsl(167, 40%, 24%);
}


.social-media-cont{
    display: flex;
    gap: 1.5rem;
}



@media screen and (max-width: 375px){

    body{
        width: 100%;
    }
    .hamburger-btn{
        display: flex;
    }
    .header{
        position: relative;
    }

    .header .links-cont{
        display: none;
    }
    .cont-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .transform{
        flex-direction: column-reverse;
    }
    
    .text-cont{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .testimonials-cont{
        padding: 1rem;
        text-align: center;
    }

    .img-cont-graph p{
        padding: 0;
    }

    .img-cont-photo p{
        padding: 0;
    }

    .client-grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
    }

    .grid-item{
        gap: .5rem;
        margin-bottom: 2rem;
    }

    .pic-cont{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    a{
        color: hsl(232, 10%, 55%);
        font-size: 1.5rem;
    }
    .contact-btn{
        background-color: yellow;
        color: black;
    }

    .active{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        height: 350px;
        width: 320px;
        padding: 1rem;
        top:50%;
        left:50%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transform: translate(-50%,25%);
        transition: all 1s ease;
    }

    
}